<ion-content class="ion-padding">
  <!--AQUI EU MANDEI O LABEL DE CADASTRO TESTE!!!!!-->

  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input
      placeholder="Insira seu nome completo"
      [(ngModel)]="nome"
      type="text"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>RA</ion-label>
    <ion-input
      [(ngModel)]="ra"
      placeholder="Apenas numeros. EX: 1381911"
      type="text"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Orientador</ion-label>
    <ion-input
      placeholder="Meu Orientador"
      [(ngModel)]="orientador"
      type="text"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Instituição</ion-label>
    <ion-input
      placeholder="UTFPR"
      [(ngModel)]="instituicao"
      type="text"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Curso</ion-label>
    <ion-input
      placeholder="Meu curso"
      [(ngModel)]="curso"
      type="text"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input
      placeholder="email@meuemail.com.br"
      [(ngModel)]="email"
      type="text"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input placeholder="*****" [(ngModel)]="senha" type="text"></ion-input>
  </ion-item>

  <!--AQUI EU MANDEI O BOTÃO TESTE!!!!!-->
  <div class="spacer" style="width: 900px; height: 15.9896px;"></div>

  <ion-button color="dark" expand="full" (click)="Cadastrar()"
    >CADASTRAR</ion-button
  >
  <ion-button href="/login" color="dark" expand="full">VOLTAR</ion-button>
</ion-content>
