ion-content {
  --background: #ccc url("../../assets/img/background1.png") no-repeat center
    center / cover;
}

.option {
  width: 100%;
  max-width: 100%;
}
.hr {
  border-bottom: 1px solid #ccc;
  width: 85%;
}
