ion-content {
  --background: #ccc url("../../assets/img/background1.png") no-repeat center
    center / cover;
}

.option {
  width: 100%;
  max-width: 100%;
}
.hr {
  border-bottom: 1px solid #ccc;
  width: 85%;
}

.botaofixo {
  position: fixed;
  float: left;
  margin-left: 82%;
  margin-top: 82%;
  z-index: 50;
}

.box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.botaoconf {
  margin: 0;
  padding: 0;
}
