<div *ngIf="exibir">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Relatorio
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="content">
    <ion-content>
      <div *ngFor="let page of appPages">
        <ion-menu-toggle *ngIf="page.url">
          <ion-item
            [routerLink]="page.url"
            routerDirection="root"
            routerLinkActive="active"
          >
            <ion-icon [name]="page.icon" slot="start"> </ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</div>

<div *ngIf="!exibir">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Relatorio
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="content">
    <ion-content>
      <div *ngFor="let page of appPages2">
        <ion-menu-toggle *ngIf="page.url">
          <ion-item
            [routerLink]="page.url"
            routerDirection="root"
            routerLinkActive="active"
          >
            <ion-icon [name]="page.icon" slot="start"> </ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</div>

<!-- ======================= daqui pra cima é menu ======================= -->

<ion-content class="ion-padding">
  <ion-item>
    <ion-label></ion-label>
    <ion-select
      class="option"
      placeHolder="Selecione um item"
      [(ngModel)]="selecionado"
    >
      <ion-select-option value="1">Meio de cultivo</ion-select-option>
      <ion-select-option value="2">Reagente</ion-select-option>
      <ion-select-option value="3">Vidraria</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <label>Data início: </label>
    <ion-input
      type="date"
      color="medium"
      class="ion-margin"
      [(ngModel)]="data_inicio"
    >
    </ion-input>
  </ion-item>
  <ion-item>
    <label>Data final: </label>
    <ion-input
      type="date"
      color="medium"
      class="ion-margin"
      [(ngModel)]="data_final"
    >
    </ion-input>
  </ion-item>

  <section>
    <ion-button
      (click)="gerarRelatorio()"
      class="ion-margin-top ion-margin-bottom"
      expand="block"
      color="dark"
      >Gerar relatório</ion-button
    >
  </section>
  <section *ngIf="exibirCard">
    <ion-button
      style="margin-bottom: 10px;"
      color="tertiary"
      size="small"
      expand="block"
      >Download do relatório</ion-button
    >
  </section>
  <!-- <ion-button class="ion-justify-content-end" size="small">Default</ion-button> -->

  <!-- <ion-button class="botaofixo">
    <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon
  ></ion-button> -->

  <!-- <ion-fab
    ion-fab
    horizontal="“end”"
    vertical="“bottom”"
    style="position:fixed;"
  >
    <button color="danger">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->

  <!-- <div class="row responsive-sm" style="background-color: rgb(255, 255, 255);">
    
  </div> -->

  <div
    *ngIf="exibirCard"
    class="card "
    style="background-color: rgb(255, 255, 255); margin-bottom: 10px;"
  >
    <div
      class="item item-divider "
      style="text-align: center; background-color: rgb(214, 211, 211); padding: 0.5px;"
    >
      <h4 style=" padding-bottom: 10px">
        Movimentação no período
      </h4>
    </div>
    <div
      class="item item-text-wrap"
      style=" padding-top: 20px; padding-left: 10px;"
    >
      Entrada Total: {{ somaEntrada }}
    </div>
    <div
      class="item item-text-wrap"
      style=" padding-top: 20px; padding-left: 10px; padding-bottom: 15px;"
    >
      Saída Total:
      <label style="color:red;">
        {{ somaSaida }}
      </label>
    </div>
  </div>

  <ul
    class="ion-no-margin"
    *ngFor="let vidraria of vidrarias"
    style="background-color: rgb(255, 255, 255); list-style-type:none;"
  >
    <div class="ion-padding">
      <li style=" padding-top: 10px">Nome: {{ vidraria.vidraria.nome }}</li>

      <li *ngIf="vidraria.entrada" style=" padding-top: 10px">
        Entrou: {{ vidraria.entrada }}
      </li>

      <li *ngIf="vidraria.saida" style=" padding-top: 10px">
        <label> Saiu:</label>
        <label style="color:red;">
          {{ vidraria.saida }}
        </label>
      </li>

      <li style=" padding-top: 10px">Data: {{ vidraria.data }}</li>
    </div>
    <div class="hr"></div>
  </ul>

  <!-- <ion-list *ngIf="exibirLista">
    <div class="list">
      <ion-item *ngFor="let vidraria of vidrarias">
        <ion-label>Nome: {{ vidraria.vidraria.nome }}</ion-label>
        <br />
        <ion-label *ngIf="vidraria.entrada"
          >Entrou: {{ vidraria.entrada }}</ion-label
        >
        <br />
        <ion-label *ngIf="vidraria.saida">Saiu: {{ vidraria.saida }}</ion-label>
        <br />
        <ion-label>Data: {{ vidraria.data }}</ion-label>
      </ion-item>
    </div>
  </ion-list> -->
</ion-content>
