ion-content {
  --background: #ccc url("../../assets/img/background1.png") no-repeat center
    center / cover;
}

.option {
  width: 20%;
  max-width: 20%;
  margin-left: -5px;
  margin-right: 0px;
}
.label {
  width: 1000%;
  max-width: 1000%;
  margin-right: 0px;
}
