<div *ngIf="exibir">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Dano
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="content">
    <ion-content>
      <div *ngFor="let page of appPages">
        <ion-menu-toggle *ngIf="page.url">
          <ion-item
            [routerLink]="page.url"
            routerDirection="root"
            routerLinkActive="active"
          >
            <ion-icon [name]="page.icon" slot="start"> </ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</div>

<div *ngIf="!exibir">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Dano
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="content">
    <ion-content>
      <div *ngFor="let page of appPages2">
        <ion-menu-toggle *ngIf="page.url">
          <ion-item
            [routerLink]="page.url"
            routerDirection="root"
            routerLinkActive="active"
          >
            <ion-icon [name]="page.icon" slot="start"> </ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</div>

<!-- ======================= daqui pra cima é menu ======================= -->

<ion-content class="ion-padding">
  <ion-item>
    <ion-select
      class="option"
      placeHolder="Selecione a vidraria"
      [(ngModel)]="selecionado"
    >
      <ion-select-option
        *ngFor="let vidraria of vidrarias"
        value="{{ vidraria.id }}"
        >{{ vidraria.nome }}</ion-select-option
      >
    </ion-select>
  </ion-item>

  <div class="spacer" style="width: 900px; height: 35.9896px;"></div>

  <ion-item>
    <ion-label position="stacked">Conte-nos o que ocorreu:</ion-label>
    <ion-textarea [(ngModel)]="texto" rows="10" cols="20"></ion-textarea>
  </ion-item>

  <section>
    <ion-button
      (click)="resgistrarDano()"
      class="ion-margin-top ion-margin-bottom"
      expand="block"
      color="dark"
      >Registrar dano</ion-button
    >
  </section>

  <strong
    >"Erros são doloros quando eles acontecem. Mas anos mais tarde a coleção de
    erros é o que é chamado de experiência"</strong
  >
</ion-content>
