<div *ngIf="exibir">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Administração
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="content">
    <ion-content>
      <div *ngFor="let page of appPages">
        <ion-menu-toggle *ngIf="page.url">
          <ion-item
            [routerLink]="page.url"
            routerDirection="root"
            routerLinkActive="active"
          >
            <ion-icon [name]="page.icon" slot="start"> </ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</div>

<div *ngIf="!exibir">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Administração
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="content">
    <ion-content>
      <div *ngFor="let page of appPages2">
        <ion-menu-toggle *ngIf="page.url">
          <ion-item
            [routerLink]="page.url"
            routerDirection="root"
            routerLinkActive="active"
          >
            <ion-icon [name]="page.icon" slot="start"> </ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</div>

<!-- ======================= daqui pra cima é menu ======================= -->
<ion-content padding>
  <ion-item href="/admequip">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR EQUIPAMENTOS</ion-text>
  </ion-item>
  <ion-item href="/vidraria">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR VIDRARIAS</ion-text>
  </ion-item>
  <ion-item href="/admusuario">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR USUARIOS</ion-text>
  </ion-item>
  <ion-item href="/admmeio">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR MEIOS DE CULTIVO</ion-text>
  </ion-item>
  <ion-item href="/admreagente">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR REAGENTES</ion-text>
  </ion-item>
  <ion-item href="/relatorio">
    <ion-label> </ion-label>
    <ion-text>RELATÓRIOS</ion-text>
  </ion-item>
  <ion-item href="/danos">
    <ion-label> </ion-label>
    <ion-text>DANOS</ion-text>
  </ion-item>
</ion-content>
